.menu-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    width: 375px;
    height: 116px;
    margin: 0px 0px 10px 0px;
    background-color: #783183;
  }
.crear-logro {
    width: 20px;
    height: 20px;
    margin: 0 0px 6px 0px;
    cursor: pointer;
  }
  .pagar-servicio {
    width: 20px;
    height: 20px;
    margin: 0 0px 6px 0px;
    cursor: pointer;
  }
  .subscripcion {
    width: 20px;
    height: 20px;
    margin: 0 0px 6px 0px;
    cursor: pointer;
  }
  .logro-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 8px;
      font-weight: 600;
      color: white;   
      margin: 0 0px 6px 0px;   
  }
  .pagar-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 8px;
    font-weight: 600;
    color: white;
    margin: 0 0px 6px 0px;
}
.subscripcion-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 8px;
    font-weight: 600;
    color: white;
    margin: 0 0px 6px 0px;
}