.transactions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 340px;
    height: 57px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #333333;  
    border-bottom: solid 0.5px #bbbbbb;   
  }
  #myImage{
    display: flex;
    width: 44px;
    height: 35px;
    justify-content: center;
    align-items: center;
  }
  .text-container{
    display: flex;
    flex-grow: 1;
    height: 50px;
    text-align: left;
    margin-left: 10px;
    align-items: center;
  }
  .text-transaction {
    width: 143px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #333333;
  }
  .subtext{
    width: 143px;
    font-size: 12px;
  }
  .money-container{
    display: flex;
    height: 40px;
    text-align: right;
    align-items: center;
  }
  .text-date{
    width: 143px;
    font-size: 12px;
  }
  .text-money{
    width: 143px;
    font-size: 14px;
  }