.header-container {
  display: flex;
  justify-content: space-between;
  width: 375px;
  height: 112px;
  padding: 0 0 73px;
  border-radius: 16px;
  background-image: linear-gradient(
    to top,
    rgb(34 168 210 / 7%) 115%,
    rgba(255, 255, 255, 0)-10%
  );
}
.header {
  /*padding-top: 73px;*/
  text-align: center;
  width: 75px;
  height: 22px;
  margin: 70px 10px 23px 130px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #333333;
}
.perfil-usuario {
  width: 24px;
  height: 24px;
  margin: 70px 24px 23px 21px;
  border-radius: 50%;
  cursor: pointer;
}
