.barra-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.barra {
    width: 134px;
    height: 3px;
    border-bottom: 5px solid#000;
    margin-top: 98px;
    position: absolute;
  }