.footer-container {
    width: 375px;
    height: 63px;
    display: flex;
    justify-content: space-around;
    margin: -23px 0 0 0;     
    padding: 20px 0 0 0; 
    border-radius: 10px 10px 0px 0px;
    border: solid 0.5px rgba(9, 22, 31, 0.3);
    background-color: #ffffff;
    position: absolute;
}
  .home-icon {
    width: 24px;
    height: 24px;
    flex-grow: 1;
    cursor: pointer;
  }
  .money-icon {
    width: 24px;
    height: 24px;
    flex-grow: 1;
    cursor: pointer;
  }
  .card-icon {
    width: 24px;
    height: 24px;
    flex-grow: 1;
    cursor: pointer;
  }
  .star-icon {
    width: 24px;
    height: 24px;
    flex-grow: 1;
    cursor: pointer;
  }
  .bell-icon {
    width: 24px;
    height: 24px;
    flex-grow: 1;
    cursor: pointer;
  }