  .texto-saldo {
    width: 134px;
    height: 15px;
    margin: 0 99px 7px 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #333333;
  }
  .saldo  {
    width: 233px;
    height: 40px;
    margin: 7px 0 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 34px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: normal;
    color: #bb64c8;
  }