.proximo-pago-container {
    width: 280px;
    height: 156px;
    margin: 75px 25px 0 36px;
    padding: 10px 10px 10px 10px;
    border-radius: 4px;
    box-shadow: 0 1px 9px 0 rgba(56, 56, 56, 0.2);
    background-image: linear-gradient(to bottom, #fefefe, #ffffff);
  }
  .proximo-pago-text {
    width: 134px;
    height: 15px;
    margin: 0 99px 7px 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #333333;
  }
  .saldo-a-pagar  {
    width: 211px;
    height: 40px;
    margin: 7px 0 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #333333;
  }
  .fecha-pago-container{
    display: flex;
    justify-content: space-between;    
  }
  .btn-pagar-ahora{
    margin: 10px 0px 0px 0px;
    padding: 5px 15px 5px 15px;
    background-color: #50caee;
    border-radius: 3%;
    border: none;
    color: white;
    font-size: 11px;
    font-weight: 600;
    cursor: pointer;
  }
  .fecha-pago-text{
    font-size: 14px;
  }
  .fecha-text{
    font-size: 18px;
  }
  .array-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 5px 0px 0px 0px;
  }
  #imagen-logros{
    width: 15px;
    height: 15px;
  }
  .text-logros{
    flex-grow: 1;
    font-size: 12px;
    margin: 0px 0px 0px 10px;
  }
  .text-amount{
    font-size: 12px;
  }