body {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 10px;  
  font-family: 'Open Sans', sans-serif;
}
/* .Home {
  width: 375px;
  height: 812px;
  background-color: #ffffff;
} */